.ModeSelector {
  .ModeSelector__ModeButton {
    width: 12rem;
  }

  .ModeSelector__ModeDropdown {
    width: 12rem;
  }

  .bi-arrow-repeat::before {
    transform: scale(1.5);
    transition: transform 0.5s;
  }

  .bi-arrow-repeat.upside-down::before {
    transform: scale(1.5) rotate(180deg);
  }
}
