@import "../variables";

.ModeSelector {
  .ModeSelector__ModeButton {
    width: 13.5rem;
  }

  .ModeSelector__ModeDropdown {
    width: 13.5rem;
    background: $dark;
  }

  .ModeSelector__ReverseButton {
    width: 2.75rem;
  }

  .ModeSelector__ReverseButtonIcon::before {
    transform: scale(1.5);
    transition: transform 0.5s;
  }

  .ModeSelector__ReverseButtonIcon.ModeSelector__ReverseButtonIcon--UpsideDown::before {
    transform: scale(1.5) rotate(180deg);
  }
}
